<h1 style="text-align:center">Tacocopter</h1>
<p style="text-align:center">Select your specifications below:</p>

<form action="/somepath" method="post">
  <input type="checkbox">

  <!-- other inputs here -->

  <input type="submit" value="Show me the tacos!">
</form>