<h1 style="text-align:center">Eat up!</h1>

<table style="width:100%">
  <tr>
    <th>Store Name</th>
    <th>Location</th> 
  </tr>
  <tr>
    <td><%= # iterate through array of qualifying restaurants%></td>
    <td><%= # iterate through  array of corresponding cities%></td>
  </tr>
</table>